{% extends 'base.html' %}

{% block input_top_left %}
<div>
  <form method="post">
    <div class="mb-3">
      <label for="youngs_modulus" class="form-label">Young's modulus, GPa</label>
      <input type="number" class="form-control" id="youngs_modulus" name="youngs_modulus" value="{{ youngs_modulus }}">
      <div id="inputEHelp" class="form-text"><a target="_blank" rel="noopener noreferrer"
          href="https://en.wikipedia.org/wiki/Young%27s_modulus">Young's modulus</a></div>
    </div>
    <div class="mb-3">
      <label for="fluid_viscosity" class="form-label">Fluid viscosity, Pa s</label>
      <input type="number" step="any" class="form-control" id="fluid_viscosity" name="fluid_viscosity" value="{{ fluid_viscosity }}">
    </div>
    <div class="mb-3">
      <label for="fracture_toughness" class="form-label">Fracture toughness, MPa*m^(1/2)</label>
      <input type="number" class="form-control" id="fracture_toughness" name="fracture_toughness" value="{{ fracture_toughness }}">
    </div>
    <div class="mb-3">
      <label for="fluid_injection_rate" class="form-label">Fluid injection rate, [m^3/s]*10^-3</label>
      <input type="number" class="form-control" id="fluid_injection_rate" name="fluid_injection_rate" value="{{ fluid_injection_rate }}">
    </div>
    <div class="mb-3">
      <label for="time" class="form-label">Time, seconds</label>
      <input type="number" class="form-control" id="time"  name="time" value="{{ time }}">
    </div>
    <div class="mb-3">
      <label for="fracture_height" class="form-label">Fracture height, m</label>
      <input type="number" class="form-control" id="fracture_height"  name="fracture_height" value="{{ fracture_height }}">
    </div>
    <div class="mb-3">
      <label for="porosity" class="form-label">Porosity</label>
      <input type="number" class="form-control" id="porosity"  name="porosity" value="{{ porosity }}">
    </div>
    <button type="submit" class="btn btn-primary">Calculate</button>
  </form>
</div>
{% endblock %}

{% block plot_top_right %}
<div>
  <p>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
  <div id="top_right_chart">
  </div>
  <script type="text/javascript">{{ top_right_chart | safe }}</script>
  </p>
</div>
{% endblock %}

{% block plot_bottom_right %}
<div>
  <p>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
  <div id="bottom_right_chart">
  </div>
  <script type="text/javascript">{{ bottom_right_chart | safe }}</script>
  </p>
</div>
{% endblock %}